@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

:root {
    --primary-color: #114B5F;
    --secondary-color: #1A936F;
    --accent1-color: #F3E9D2;
    --accent2-color: #88D498;

    --heading-font: 'Open Sans', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;

    --nav-background-color: #114B5F;
    --nav-link-color: #1A936F;
    --nav-hover-link-color: #F3E9D2;
    --nav-hover-background-color: #88D498;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    border-bottom: 2px solid var(--nav-background-color);
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    border-radius: 12px;
}

header img {
    max-height: 95px; 
    height: auto;
    width: auto;
    margin-right: 20px; 
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    border-radius: 12px;
    
}

nav a {
    display: flex;
    justify-content: center;
    gap: 10px;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

nav.sociallinks a {
    text-decoration: none;
}

.hero {
    position: relative;
    
    
}

.hero article {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%; 
    background-color: rgba(15, 26, 131, 0.7); 
    padding: 20px; 
    border-radius: 20px; 
    font-size: 1.2em; 
    margin-top: 20px; 
}

.hero h1 {
    font-size: 1.2em; 
    color: white; 
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article img {
    width: 30%; 
    float: right; 
    margin-left: 0px; 
}

.title-box {
    position: absolute;
    top: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 90%;
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 10px; 
    border-radius: 20px; 
    text-align: center;
}

.title-box h1 {
    font-size: 2em; 
    color: white; 
}


.history-title {
    display: block;
    text-align: center;
}
.history-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
}

.history-content p {
    flex: 1; 
    text-align:justify;
}

.history-content img {
    max-width: 20%; 
    height: auto; 
    border-radius: 12px;
    margin: 0 20px; 
}



.title-adventures {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.images-adventures {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
    

}

.images-adventures img {
    width: 100%;
    height: auto;
}

.images-adventures figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 100%;
    margin: auto;
}

.images-adventures figcaption {
    margin-top: 10px;
}


section {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--nav-background-color);
    border-radius: 12px;

}

footer img {
    width: 40px;
    height: auto;
    margin: 5px;
    
} 

